body {
  box-sizing: border-box;
  background-color: beige;
}
form {
  margin: 30px auto 10px;
  text-align: center;
  padding: 10px;
  width: 230px;
  border-left: 3px solid seagreen;
  border-right: 3px solid seagreen;
}
input {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 5px;
}
label {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.container {
  display: flex;
  flex-direction: column;
}
.users-list {
  margin: auto;
  width: 250px;
  height: auto;
}
.user:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(9, 63, 65);
  padding: 5px;
  border-bottom: 2px solid aliceblue;
}
.user:nth-child(odd) {
  background-color: rgb(48, 52, 63);
  padding: 5px;
  border-bottom: 2px solid aliceblue;
}
a {
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
  color: white;
}
